@if (task() != undefined) {
  <div class="flex gap-2 transition-all duration-200 m-5">
    <div
      class="group flex-1 flex items-center justify-between p-3 border rounded-xl transition-all duration-200 hover:shadow-sm"
      [class.bg-green-50]="task().completed"
      [class.border-green-200]="task().completed"
      [class.bg-white]="!task().completed"
    >
      <div class="flex items-center gap-3">
        <p-toggleSwitch [ngModel]="task().completed" (onChange)="toggle()" />

        <span
          class="text-sm font-medium transition-all"
          [class.line-through]="task().completed"
          [class.text-gray-400]="task().completed"
          [class.text-gray-800]="!task().completed"
        >
          {{ task().title }}
        </span>
      </div>

      <div class="flex items-center gap-2">
        <span
          class="text-[11px] px-2 py-1 rounded-full font-medium"
          [class.bg-green-100]="task().completed"
          [class.text-green-700]="task().completed"
          [class.bg-yellow-100]="!task().completed"
          [class.text-yellow-700]="!task().completed"
        >
          {{ task().completed ? 'Done' : 'Pending' }}
        </span>
      </div>
    </div>
    <button
      (click)="deleteTask(task()._id)"
      class="flex items-center justify-between p-3 cursor-pointer border border-red-700 rounded-xl transition-all duration-200 text-sm font-medium hover:bg-red-700 hover:text-white"
    >
      Delete
    </button>
  </div>
}
